.card-coment{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    margin: 10px auto;
}

.card-coment h4{
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
    color: #292929;
}


.card-coment p{
    max-width: 270px;
    height: 79px;
    font-family: Inter;
    color: #616161;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0;
}
.card-coment img{
    margin: 20px;
}

.card-coment-container{
    width: 100%;
    max-width: 993px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.coment{
    max-width: 993px;
    margin: 0 auto;
}

.star img{
    margin: 0 0 20px 0;

}