.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    margin: 50px auto;
    height: 401px;
    background-color: #F3F3F3;
    border-radius: 8px;
}

.card img{
    width: 200px;
    height: 200px;
}

.card h2{
    font-family: 'Montserrat', sans-serif;  
    font-size: 24px;
    color: #292929;
    font-weight: 500;
}

.card p{
    text-align: center;
    font-family: 'Inter', sans-serif; 
    font-weight: 400;
    font-size: 16.06px;
}
.card span{
    font-family: 'Montserrat', sans-serif;  
    font-size: 32.1px;
    font-weight: 400;
}

.more-popular{
    width: 100%;
    max-width: 993px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
}

.more-popular h3{
    font-family: 'Montserrat', sans-serif;  
    width: 100%;  
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 56px;
    margin-bottom: 117px;
}
.more-popular p{
    width: 80%;
    margin :16px 16px;
}

.more-popular img{
    margin-top: -80px;
    margin-bottom: 78px;
}