.presentation{
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.presentation img{
    padding-top: 20px;
    width: 100%;
    max-width: 380px;
    text-align: center;
}

.img-container{
    margin: 30px;
}

.presentation h3{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 56px;
    margin-bottom: 24px;
}

.presentation-description{
    width: 280px;
}
.presentation p{
    width: 270px;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
   
}

.presentation a{
   display: flex;
   font-family: 'inter', sans-serif;
   justify-content: center;
   color: #DA2535;
   text-decoration: underline;
}