@media (min-width:700px){
    .food-head-container img{
        width: auto;
        height: 200px;
        display: block;
        
    }

    .food-head-container{
        width: 100%;
        max-width: 993px;
        margin: 0 auto;
        flex-direction: row;
    }
}

@media (min-width:993px){
    .food-head-container img{
        width: auto;
        height: 400px;
        display: block;
        
    }
    .food-head-container{
        width: 100%;
        max-width: 993px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;        
    }

    .orientalfood{
        width: auto;
    }

    .presentation{
        width: 100%;
        max-width: 993px;
        justify-content: space-between;
        margin: 0 auto;        
    }

    .presentation p{
        text-align: left;
    }

    .presentation-description{
        display: flex;
        flex: column;
        flex-wrap: wrap;
        align-items: center;
        width: 450px;
    }

    .presentation-description h3{
        margin: 0;
        width: 361px;
        height: 124px;
        text-align: left;
        font-size: 38px;
    }

    .presentation-description p{
       width: 450px;
        font-size: 20px;
    }

    .presentation-description a{
        
       justify-content: start;
        
    }

    .presentation img{
        width: 100%;
        max-width: 415px;
        height: 450px;
    }

    .img-container{
        padding: 0;
    }

}